## exclude by file type
*.txt
*.swp
*.swo
*.pyc
*.zip
*.tar.gz
*.gz
*.result
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.lof
*.lot
*.nav
*.snm
*.toc
buffers.list
tags

## exclude special cases
[Tt]est/
[Bb]in/
[Tt]mp/
[Dd]ebug/
